@charset "utf-8";
/*********************头部**********************/
body{background: url(../images/bg.jpg) top center no-repeat; background-size: 100% auto;}


.header{width: 100%; margin-top: 80px;}
.header .wrap{width: 1100px;margin: 0 auto;}
.header .wrap .wrap_logo{width:320px;height: 60px; margin-left: 50px;}
.header .wrap .wrap_logo .wrap_logo_bg{display: block; width:320px;height: 60px;text-indent: -2000px;background: url(../images/header_logo.png) no-repeat; background-size: 100% 100%;}

.header .wrap .wrap_menu{width:770px;float: left; margin:30px auto 26px auto;}
.header .wrap .wrap_menu li{float: left; text-align: center; margin:10px;}
.header .wrap .wrap_menu li>a{font-size: 16px;color: #FFF79F;}
.header .wrap .wrap_menu li>a:hover{font-weight: bold; }



.header .wrap .wrap_search{width:300px;color:#fff;  margin-top:30px; float: right;}
.header .wrap .wrap_search .search_login{height: 20px;position:relative; font-size:14px; }
.header .wrap .wrap_search .search_login span,.header .wrap .wrap_search .search_login a{ margin:10px;color:#fff; }
.header .wrap .wrap_search .search_login a:hover{color:#FFF79F}
.header .wrap .wrap_search .search_login a.theme-login{position:absolute;right:0px;top: -10px;}
.header .wrap .wrap_search .search_form{position: relative; margin-top:10px; border-bottom: 1px solid #CC796E}
.header .wrap .wrap_search .search_form .search_form_select{color:#fff;border: none;cursor: pointer;}
.header .wrap .wrap_search .search_form .search_form_select option{color:#000000}
.header .wrap .wrap_search .search_form .search_icon{position:absolute;right:5px;bottom: 1px; width:20px;height: 20px;display:block; background:url(../images/sprite.png)  no-repeat; }

.header .wrap .wrap_search .search_form_input{width:210px; cursor:pointer; color:#fff;padding: 0 5px;}

/*******************主题*******************/
.main{width: 1100px;min-height: 800px; padding:15px 30px;  margin: 0 auto;background-color: #fff;}


/****************footer**************/
.footer {padding-top: 200px; font-size: 12px; background-image: url(../images/footer_bg.png); box-sizing: border-box; background-size: 100% auto; background-repeat: no-repeat; }
.footer .footer_wrap{width:1100px;padding-bottom: 10px; margin:0 auto;}
.footer .footer_wrap>dl{margin-bottom:30px; text-align:center; position:relative;}
.footer .footer_wrap>dl>dt{width:50px; position:absolute;top: -40px;left:50%;margin-left:-25px;}
.footer .footer_wrap>dl>dd{width:80%; margin:0 auto;}
.footer .footer_wrap>dl>dd>a{display:inline-block; margin:5px;}
.footer p {text-align: center; }
.footer a:hover {color: #EB6100; }

/******************登陆弹窗***************/
.ipt {
	border: solid 1px #d2d2d2;
	border-left-color: #ccc;
	border-top-color: #ccc;
	border-radius: 2px;
	box-shadow: inset 0 1px 0 #f8f8f8;
	background-color: #fff;
	padding: 4px 6px;
	height: 21px;
	line-height: 21px;
	color: #555;
	width: 180px;
	vertical-align: baseline;
}

.ipt-mini {
	width: 140px;
	padding: 1px 3px;
}

.ipt:focus {
	border-color: #95C8F1;
	box-shadow: 0 0 4px #95C8F1;
}
/* btn */
.btn {
	position: relative;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	min-width: 52px;
	padding: 0 12px;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	border: 1px solid #ddd;
	color: #666;
	background-color: #f5f5f5;
	background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: linear-gradient(top, #F5F5F5, #F1F1F1);
}

input.btn {
	height: 29px;
}

.btn:hover {
	border-color: #c6c6c6;
	color: #333;
	background-color: #f8f8f8;
	background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
	background: linear-gradient(top, #f8f8f8, #f1f1f1);
	box-shadow: #ddd 0 1px 1px 0;
}

.btn:active,.btn.btn-active {
	box-shadow: #ddd 0 1px 2px 0 inset;
	border-color: #c6c6c6;
}

.btn:focus {
	border-color: #4d90fe;
	outline: none
}

/* .btn-primary {
	border-color: #3079ED;
	color: #F3F7FC;
	background-color: #4D90FE;
	background: -webkit-linear-gradient(top, #4D90FE, #4787ED);
	background: -moz-linear-gradient(top, #4D90FE, #4787ED);
	background: linear-gradient(top, #4D90FE, #4787ED);
} 

.btn-primary:hover {
	border-color: #2F5BB7;
	color: #fff;
	background-color: #4D90FE;
	background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
	background: -moz-linear-gradient(top, #4D90FE, #357AE8);
	background: linear-gradient(top, #4D90FE, #357AE8);
}
*/

.btn-primary:active,.btn-primary.btn-active {
	box-shadow: #2176D3 0 1px 2px 0 inset;
	border-color: #3079ED;
}

.btn-primary:focus {
	border-color: #4d90fe;
	outline: none
}

.theme-buy {
	margin-top: 10%;
	text-align: center;
}

.theme-gobuy,.theme-signin {
	font-size: 15px;
}

.theme-price {
	position: relative;
	bottom: -6px;
	font-family: microsoft yahei, Arial, Helvetica, sans-serif;
	margin-right: 20px;
	font-weight: bold;
	color: #f60;
	line-height: 32px;
	font-size: 24px;
	display: inline-block;
}

.theme-price dfn {
	font-style: normal;
	font-size: 18px;
	margin-right: 2px;
}

.theme-desc {
	padding: 30px;
}

.theme-version {
	padding: 30px;
}

.theme-popover-mask {
	z-index: 9998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	display: none
}

.theme-popover {
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 370px;
	height: 210px;
	margin: -180px 0 0 -190px;
	border-radius: 5px;
	border: solid 2px #666;
	background-color: #fff;
	display: none;
	box-shadow: 0 0 10px #666;
}

.theme-poptit {
	border-bottom: 1px solid #ddd;
	padding: 2px;
	position: relative;
	height: 40px;
}

.theme-popbod {
	padding: 40px 1px;
	color: #444;
	height: 148px;
}

.theme-popbom {
	padding: 15px;
	background-color: #f6f6f6;
	border-top: 1px solid #ddd;
	border-radius: 0 0 5px 5px;
	color: #666
}

.theme-popbom a {
	margin-left: 8px
}

.theme-poptit .close {
	float: right;
	color: #999;
	padding: 5px;
	margin: -2px -5px -5px;
	font: bold 14px/14px simsun;
	text-shadow: 0 1px 0 #ddd
}

.theme-poptit .close:hover {
	color: #444;
}

.btn.theme-reg {
	position: absolute;
	top: 8px;
	left: 43%;
	display: none
}

.inp-gray,.feed-mail-inp {
	border: 1px solid #ccc;
	background-color: #fdfdfd;
	width: 220px;
	height: 16px;
	padding: 4px;
	color: #444;
	margin-right: 6px
}

.dform {
	padding: 40px 60px 40px 10px text-align:  center;
}

.dform .ipt_error {
	background-color: #FFFFCC;
	border-color: #FFCC66
}

.dform-tip {
	display: none;
	background-color: #080;
	color: #fff;
	line-height: 42px;
	margin-top: 10px;
	display: ;
	font-size: 14px;
}

.dform-tip-errer {
	background-color: #CF301A;
}

.dform-tip a {
	display: inline-block;
	padding: 0 20px;
	margin-left: 10px;
	background-color: #FFE924;
	color: #CF301A;
}

.dform-login {
	padding: 0;
	height: 270px;
	overflow: hidden;
}

.dform-login iframe {
	height: 470px;
	margin-top: -180px;
}

.theme-signin {
	margin: -20px 0px -50px 25px;
	text-align: left;
	font-size: 14px;
}

.theme-signin h4 {
	color: #999;
	font-weight: 100;
	margin-bottom: 20px;
	font-size: 12px;
}

.theme-signin li {
	padding-left: 80px;
	margin-bottom: 20px;
}

.theme-signin li strong {
	float: left;
	margin-left: -80px;
	width: 80px;
	text-align: right;
	line-height: 32px;
}

.theme-signin .btn {
	margin-bottom: 10px;
	margin-left: 40px;
}

.theme-signin p {
	font-size: 12px;
	color: #999;
}

.theme-desc,.theme-version {
	padding-top: 0
}



/*******回滚*********/
.right_menu{position: fixed;width:35px; bottom: 80px;right: 30px;z-index:10000}
.right_menu .right_menu_ul{width:100%;font-size:0px; }
.right_menu .right_menu_ul li{width:100%;border:1px solid #E5E5E5;background-color:#EEEEEE;}
.right_menu .right_menu_ul li>a{display:block; width:100%;height:35px;}
/* .right_menu .right_menu_ul li>a.mobile_icon{background: url(img/mobile.png) center no-repeat;} */
.right_menu .right_menu_ul li>a.weixin_icon{background: url(../images/icons/weixin.png) center no-repeat;}
/* .right_menu .right_menu_ul li>a.mobile_icon:hover{background: url(img/mobile_hover.png) center no-repeat;} */
.right_menu .right_menu_ul li>a.weixin_icon:hover{background: url(../images/icons/weixin_hover.png) center no-repeat;}
.right_menu .com{position: absolute;right:55px; background-color:#4C4C4C;padding:10px; }
.right_menu .com>img{width:120px;}
.right_menu>.com>.triangle{
	    position:absolute;
	    right:-14px;
	    top:50%;
	    margin-top:-10px;
	    width: 0;
	    height: 0;
	    border-top: 10px solid transparent;
	    border-left: 15px solid #4C4C4C;
	    border-bottom: 10px solid transparent;
	
}
.right_menu .weixin{top:-54px;display:none;}
.backTop{display: none; margin-top:10px;  width:34px; height:35px;}
}






















































