@charset "utf-8";
.main{width: 1100px;min-height: 800px; padding:15px 30px;  margin: 0 auto;background-color: #fff;}

.main .menu_list{width:100%;text-align: center;}
.main .menu_list .menu_list_ul{width:100%;}
.main .menu_list .menu_list_ul li{position:relative; display: inline-block; height:30px; line-height: 30px; padding:0 5px; margin: 0px 5px; font-size: 16px;}
.main .menu_list .menu_list_ul>li:before{position: absolute;top:8px;  left: -5px; content:""; height:14px; display:inline-block;clear:both;border-left:1px solid #000000;  }
.main .menu_list .menu_list_ul>li>a{color:#000000;}
.main .menu_list .menu_list_ul>li>a:hover,.main .menu_list .menu_list_dl dd>a:hover,.notice .notice_right ul li>a:hover,.floor .floor-tit>a:hover,.branchActivities .floor-con .leftarea>.leftarea_p>a:hover,.branchActivities .floor-con .rightarea .rightarea_ul li a:hover,.onlineStudy .onlineStudy_ul>li>.onlineStudy_ul_ul li>a:hover,.leaderState .floor-con .iterm .iterm_p>a:hover,.leaderState .floor-con .iterm>ul li>a:hover{ color: #B30A0A; text-decoration:underline;}

.main .menu_list .menu_list_dl{width:100%; margin-top: 10px;}
.main .menu_list .menu_list_dl dt{width:100%; margin-bottom: 10px; font-weight:bold;font-size:25px;}
.main .menu_list .menu_list_dl dd{width:310px; float: left; margin:0 10px;}
.main .menu_list .menu_list_dl dd>span{display:inline-block;width:10px; position:relative;bottom:3px; font-size:18px;}
.main .menu_list .menu_list_dl dd>a{font-size:16px; display:inline-block; width:290px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}


/* 轮播区域和通知 */
.notice{width:100%; margin:20px 0px;}

.notice .carousel {width:400px;height: 300px;font-size: 14px;position:relative;display:inline-block; }
.notice .carousel>a.control {position:absolute;display: block;top: 115px;width:25px;height:60px;cursor: pointer;z-index: 2;background: url(../images/lunbo/ad_ctr.png) no-repeat}
.notice .carousel>a.prev {left: 0px;background-position: -14px -192px;}
.notice .carousel>a.next {right: 0px;background-position: -23px -282px;}
.notice .carousel>a.prev:hover {background-position: -14px -14px;}
.notice .carousel>a.next:hover {background-position: -20px -104px;}
.notice .carousel .slider{width:400px; height:300px;overflow:hidden;}
.notice .carousel .slider>ul{width:100%;}
.notice .carousel .slider>ul li{width:400px;}
.notice .carousel .slider>ul li>a{display:block;width:400px;height:300px; font-size:0px;}
.notice .carousel .slider>ul li>a>img{width:100%;max-width:400px;}
.notice .carousel .slider .desc .title>a{padding:0px 5px;}

.notice .notice_right{width:670px; height:300px;background-color:red; float:right;background:url(../images/notice_bg.png) no-repeat}
.notice .notice_right ul{width:320px; }
.notice .notice_right ul li{height: 35px; line-height: 35px; padding-top: 5px; display: list-item; border-bottom: 1px dashed #D1C4BB;}
.notice .notice_right ul li>a{display: block; overflow: hidden; width: 100%; text-overflow: ellipsis; white-space: nowrap; font-size: 16px;}
.notice .notice_right ul.notice1{ float:left;}
.notice .notice_right ul.notice2{ float:right;}

/**************党情速递***************/
.floor{width:100%;margin:10px 0px;}
.floor .floor-tit{width:100%; height:40px;margin-bottom: 10px; background:url(../images/floor_title_bg.png) no-repeat;color: #ffffff;    border-bottom: 3px solid #D4291A;}
.floor .floor-tit>span{ font-size:25px; padding:5px; float:left}
.floor .floor-tit>a{display:inline-block;font-size:14px;margin-top:15px; float:right;}

.floor .floor-con{width:100%;position: relative;}

.scroll_horizontal{position:relative;width:1100px;height:220px;background-color:#eee;}

.scroll_horizontal .box{overflow:hidden;position:relative;width:1100px;height:220px;margin:0 auto;}

.scroll_horizontal .list{overflow:hidden;width:9999px;}

.scroll_horizontal .list>li{float:left;width:255px; margin:0 10px; position:relative;}

.scroll_horizontal .list>li>img{width:100%;height:180px; display:block;}
.scroll_horizontal .list>li>a{display:block;padding:5px; height:30px;line-height:30px; text-align:center;font-size:16px; overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.scroll_horizontal .list>li>.list_ul{display:none; position:absolute;top: 0px;left:0px; opacity:0.8; width:245px;padding:5px; height:170px;background-color:#000;}
.scroll_horizontal .list>li>.list_ul li{height:25px;line-height25px;}
.scroll_horizontal .list>li>.list_ul li>a{text-align:left;color:#fff; display:inline; font-size:14px;}
.scroll_horizontal .list>li>.list_ul li>a:hover{text-decoration:underline}
.scroll_horizontal .list>li:hover>.list_ul{display:block;}
.scroll_horizontal .list>li:hover>a{display:inline-block; width:245px; background-color:#000000; position:relative;bottom:0px;left:0px; text-align:center;color:#fff;}
.scroll_horizontal .prev,

.scroll_horizontal .next{position:absolute;top:0;width:40px;height:220px;z-index:1000; background-image:url(../images/icons/arrows.png);background-repeat:no-repeat;font:0/0 Arial;cursor:pointer;}

.scroll_horizontal .prev{left:0px;background-position:-295px -34px;}

.scroll_horizontal .next{right:0px;background-position:-124px -35px;}

.scroll_horizontal .prev:hover{background-position:-206px -35px;}
.scroll_horizontal .next:hover{background-position:-36px -35px;}
/*****************支部活动****************/
.branchActivities .floor-con .leftarea{width:320px;height: 282px;overflow:hidden; float:left;background-color:#F4F4F4; }
.branchActivities .floor-con .leftarea>.leftarea_pic{display:block;font-size:0px;width:100%;}
.branchActivities .floor-con .leftarea>.leftarea_pic img{display:block;width:100%;}
.branchActivities .floor-con .leftarea>.leftarea_p{padding:5px;}
.branchActivities .floor-con .leftarea>.leftarea_p>a{display:block;width:100%; height:30px;line-height: 22px; font-size:14px;/* overflow:hidden;text-overflow: ellipsis;white-space: nowrap; */}

.branchActivities .floor-con .rightarea{width: 750px;float:right}
.branchActivities .floor-con .rightarea .rightarea_ul{width:360px;display:inline-block;}
.branchActivities .floor-con .rightarea .rightarea_ul2{float:right;}
.branchActivities .floor-con .rightarea .rightarea_ul li{width:100%;height: 35px;line-height: 35px;border-bottom: 1px dashed #D1C4BB;}
.branchActivities .floor-con .rightarea .rightarea_ul li a{font-size:14px;}
/******************广告1********************/
.ads{width:100%;}
.ads>a{display:block; width:100%;}
.ads>a>img{width:100%;}

/****************************在线学习****************************/
.onlineStudy .onlineStudy_ul{width:100%;}
.onlineStudy .onlineStudy_ul>li{float:left; border-radius:5px; overflow:hidden; width: 32%; margin-right: 2%; margin-bottom: 1.5%;background-color:#EEEEEE}
.onlineStudy .onlineStudy_ul>li>a{display:block; width:100%;}
.onlineStudy .onlineStudy_ul>li>a>img{display:block; width:100%;height:230px;}
.onlineStudy .onlineStudy_ul>li>.onlineStudy_ul_ul{padding: 5px;}
.onlineStudy .onlineStudy_ul>li>.onlineStudy_ul_ul li{height:25px;line-height:25px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.onlineStudy .onlineStudy_ul>li>.onlineStudy_ul_ul li>a{font-size: 14px;}

.onlineStudy .onlineStudy_ul>li.odd,.leaderState .floor-con .iterm.odd{margin-right:0px;}
.onlineStudy .onlineStudy_ul>li:hover{-webkit-box-shadow:0 0 10px rgba(212,41,26, .5);  
  -moz-box-shadow:0 0 10px rgba(212,41,26, .5);
  box-shadow:0 0 10px rgba(212,41,26, .5);}
/**************第一书记动态******************/
.leaderState .floor-con .iterm{float:left; width: 32%; margin-right: 2%; margin-bottom: 1.5%;}
.leaderState .floor-con .iterm .iterm_p{margin:10px 0px; padding:0px 5px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.leaderState .floor-con .iterm .iterm_p>a{font-size:16px;}
.leaderState .floor-con .iterm>ul{padding:5px;}
.leaderState .floor-con .iterm>ul li{height: 30px;line-height:30px;	    border-bottom: 1px dashed #D1C4BB;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.leaderState .floor-con .iterm>ul li>a{font-size:14px;}





.onlineStudy .onlineStudy_ul>li>a>img{-webkit-transition: -webkit-transform .4s ease;transition: -webkit-transform .4s ease;-moz-transition: transform .4s ease,-moz-transform .4s ease;transition: transform .4s ease;transition: transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease;-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
.onlineStudy .onlineStudy_ul>li>a>img:hover{box-shadow: 0 10px 20px #ddd;-webkit-transition: -webkit-transform .4s ease;transition: -webkit-transform .4s ease;-moz-transition: transform .4s ease,-moz-transform .4s ease;transition: transform .4s ease;transition: transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease;-webkit-transform: translateY(-10px);-moz-transform: translateY(-10px);-ms-transform: translateY(-10px);transform: translateY(-10px);}














:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
}

input:-ms-input-placeholder{
    color: #ffffff;
}

input::-webkit-input-placeholder{
    color: #ffffff;
}






























